.center {
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.board {
    max-width: 350px;
    max-height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
}

.column {
    display: flex;
    flex-direction: column-reverse;
}

.cell {
    width: 50px;
    height: 50px;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 50px;
    border: 1px solid black;
    position: relative;
}

.section {
    margin: 10px 0 0;
    padding-left: 25%;
    padding-right: 25%;
}


.records {
    margin: 0 auto;
    height: 250px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.record {
    flex: auto;
}

.time {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: lightgrey;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(-180deg);}
}

.rotation {
    animation: rotation;
    animation-duration: 1s;
    animation-delay: 10ms;
    animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 400px) {
    .cell {
        width: 20px;
        height: 20px;
        font-size: 15px;
        line-height: 20px;
    }

    .banner {
        font-size: 20px;
    }
}